#**DATASET BIKE BUYERS**

#**Import Library**

In [3]:
import pandas as pd

#**Memuat Dataset**

In [4]:
file = "/content/drive/MyDrive/Praktikum/bike_buyers.csv"
df = pd.read_csv(file)

df

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
996,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
997,11809,Married,NaN,60000.0,2.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,North America,38.0,Yes
998,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
999,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

#**Bussiness Understanding**

##**Bussiness Objective**

Dataset Bike Buyers

Dataset ini berisi data dari 1000 pelanggan yang berkaitan dengan keputusan pembelian sepeda. Tujuan utama dari analisis ini adalah untuk memahami karakteristik pelanggan, mengidentifikasi faktor yang mempengaruhi keputusan pembelian sepeda, serta membantu perusahaan dalam meningkatkan strategi pemasaran agar penjualan sepeda dapat lebih optimal.

Dataset ini terdiri dari 1000 baris dan 13 kolom yang mencakup informasi demografi pelanggan, kondisi ekonomi, status pembelian sepeda serta informasi lainnya yang berkaitan dengan pelanggan.

##**Assess Situation**

Situasi dalam dataset ini berfokus pada data pelanggan yang berkaitan dengan keputusan pembelian sepeda. Dataset ini mencakup berbagai karakteristik pelanggan seperti usia, pendapatan, pendidikan, status pernikahan, jumlah anak, serta jarak tempat tinggal ke tempat kerja.

Berdasarkan data tersebut, diperlukan pemahaman yang mendalam untuk melihat pola hubungan antara karakteristik pelanggan dengan keputusan pembelian sepeda, agar analisis yang dilakukan nantinya dapat memberikan insight/informasi yang jelas dan relevan.

##**Analytic Goals & Project Plan**


*   Mengidentifikasi Karakteristik Pembeli Sepeda
*   Menghasilkan Visualisasi Data
*   Menyediakan Dasar Pengambilan Keputusan
*   Menganalisis Faktor yang Mempengaruhi Keputusan Pembelian Sepeda